 <section class="tab attributes {{tab.cssClass}}"
          data-group="defect" 
          data-tab="defectDetails">
        <div class="grid grid-2col-2row">
            <dive class="item-resource">
                <span class="resourceSpan">Level:</span>
                <input class="valueInput" type="text" name="system.level.main" value="{{system.level.main}}" placeholder="0"/>
                
            </dive>
            <dive class="item-resource">
                <span class="resourceSpan">Cost:</span>
                <input class="valueInput" type="number" name="system.cost.main" value="{{system.cost.main}}" placeholder="0"/>
                
            </dive>
            <dive class="item-resource">
                <span class="resourceSpan">Flux:</span>
                <input class="valueInput" type="number" name="system.flux.main" value="{{system.flux.main}}" placeholder="0"/>
                
            </dive>
        </div>
</section>