 <section class="tab attributes {{tab.cssClass}}"
          data-group="item" 
          data-tab="itemDetails">
        <div class="grid grid-2col-2row">
            <dive class="item-resource">
                <span class="resourceSpan">Rarity:</span>
                <input class="valueInput" type="text" name="system.rarity" value="{{system.rarity}}" placeholder="rarity"/>
                
            </dive>
            <dive class="item-resource">
                <span class="resourceSpan">Price:</span>
                <input class="valueInput" type="number" name="system.price" value="{{system.price}}" placeholder="0"/>
                
            </dive>
            <dive class="item-resource">
                <span class="resourceSpan">Quantity:</span>
                <input class="valueInput" type="number" name="system.quantity" value="{{system.quantity}}" placeholder="0"/>
                
            </dive>
            <dive class="item-resource">
                <span class="resourceSpan">Weight:</span>
                <input class="valueInput" type="number" name="system.weight" value="{{system.weight}}" placeholder="0"/>
            </dive>
        </div>
</section>