<section class="tab description {{tab.cssClass}}"
        data-tab="description"
        data-group="primary">

            <div class="top-div">
                <dive class="character-appearance">
                    <span class="resourceSpan">Eyes:</span>
                    <input class="valueInput" type="text" name="system.description.eyes.main" value="{{system.description.eyes.main}}" placeholder="eyes"/>
                    
                </dive>
                <dive class="character-appearance">
                    <span class="resourceSpan">Hair:</span>
                    <input class="valueInput" type="text" name="system.description.hair.main" value="{{system.description.hair.main}}" placeholder="hair"/>
                    
                </dive>
                <dive class="character-appearance">
                    <span class="resourceSpan">Gender:</span>
                    <input class="valueInput" type="text" name="system.description.gender.main" value="{{system.description.gender.main}}" placeholder="gender"/>
                </dive>
                <dive class="character-appearance">
                    <span class="resourceSpan">Age:</span>
                    <input class="valueInput" type="number" name="system.description.age.main" value="{{system.description.age.main}}" placeholder="0"/>
                </dive>
                <dive class="character-trait">
                    <span class="resourceSpan">Ideals</span>
                    <textarea class="valueInput" name="system.description.ideals.main">{{system.description.ideals.main}}</textarea>
                </dive>
                <dive class="character-trait">
                    <span class="resourceSpan">Personality Traits</span>
                    <textarea class="valueInput" name="system.description.traits.main">{{system.description.traits.main}}</textarea>
                </dive>
                <dive class="character-trait">
                    <span class="resourceSpan">Goals</span>
                    <textarea class="valueInput" name="system.description.goals.main">{{system.description.goals.main}}</textarea>
                </dive>
                <dive class="character-trait">
                    <span class="resourceSpan">Appearance</span>
                    <textarea class="valueInput" name="system.description.appearance.main">{{system.description.appearance.main}}</textarea>
                </dive>
                <dive class="character-trait">
                    <span class="resourceSpan">Flaws</span>
                    <textarea class="valueInput" name="system.description.flaws.main">{{system.description.flaws.main}}</textarea>
                </dive>
                <dive class="character-trait">
                    <span class="resourceSpan">Connections</span>
                    <textarea class="valueInput" name="system.description.connections.main">{{system.description.connections.main}}</textarea>
                </dive>
            </div>
            <div class="bio-div">
                <span class="resourceSpan">Biography</span>
                {{#if editable}}
                <prose-mirror
                    name="system.biography"
                    button="true"
                    editable="{{editable}}"
                    toggled="false"
                    value="{{system.biography}}">
                    {{{enrichedBiography}}}
                </prose-mirror>
                {{else}}
                    {{{enrichedBiography}}}
                {{/if}}
            </div>
        </section>
        