.senandsins {
  --lightestpuppy: #fce8ff;
  --middlepuppy: #f3d2ff;
  --darkestpuppy: #e8adff;
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.senandsins .window-header {
  background: var(--darkestpuppy); 
  color: black;
}

.senandsins .window-content {
  background: var(--middlepuppy);
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.senandsins .form {
  height: 100%;
}
.senandsins .sheet-header {
  flex: 0 0 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.senandsins .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.senandsins .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}

.senandsins .sheet-header h2.charname {
  height:130px;
  margin: 5px 0;
  border-bottom: 0;
}

.senandsins .sheet-header .charname .charAtrributeInput {
  width: 29%;
  height: 50%;
  font-weight: bold;
  font-size: 30px;
  background: var(--lightestpuppy);
}
.senandsins .sheet-header .charname .nameInput{
  width: 40%;
  height: 50%;
  font-weight: bold;
  font-size: 30px;
  background: var(--lightestpuppy);
}
.senandsins .resource {
  width: 40%;
  margin-top: 10px;
  float: left;
}

.senandsins .resource .resourceSpan {
  width: 50px;
  height: 25px;
  font-size: 26px;
}

.senandsins .resource .valueInput {
  width: 55px;
  height: 30px;
  font-size: 26px;
  background: var(--lightestpuppy);
}


.senandsins .item-resource {    
  width: 50%;
  margin-top: 10px;
  float: left;
  display: flex;
}

.senandsins .item-resource .resourceSpan {
  font-size: medium;
  width: 25%;
  margin-right: 5px;
}

.senandsins .item-resource .valueInput {    
  width: auto;
  height: auto;
  font-size: medium;
  background: var(--lightestpuppy);
}

.senandsins .combatResource {
  width: 25%;
  margin-top: 4px;
  margin-left: -1px;
  float: left;
}


.senandsins .combatResource .resourceValueInput {
  width: 32px;
  height: 15px;
  background: var(--lightestpuppy);
}

.senandsins .tabs {
  height: 30px;
  flex: 0 0 0px;
  background: var(--darkestpuppy);
}

.senandsins .tabs .item {
  font-weight: bold;
}

.senandsins .tabs .items {
  width: 33%;
  font-weight: bold;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  height: 85%;
  line-height: 10px;
}

.senandsins .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.senandsins .tabs .items.active {
  text-decoration: underline;
  text-shadow: none;
}

.senandsins .sheet-body {
  overflow: hidden;
}
.senandsins .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.senandsins .editor,
.senandsins .editor-content {
  height: 100%;
}

.senandsins .armorcombat{
  height: 25px;
  margin-left: 10px;
  display: flex;
}

.senandsins .flexstats{
  display: flex;
  width: 100%;
}

.senandsins .stats {
  margin: 5px 0;
  width: 15%;
}

.senandsins .mainattributes{
  width: 85%;
  background-color: var(--darkestpuppy);
  border: 1px black solid;
}

.senandsins .attribute-top{
  font-size: medium;
  vertical-align: top;
  margin: 10px 0 0 0;
}

.senandsins .stat-value{
  border: 0px;
  background: var(--lightestpuppy);
  text-align: center;
  font-size: medium;
  margin-bottom: 5px;
}

.senandsins .statblock{    
  width: 64px;
  height: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  background: var(--lightestpuppy);
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 5px;
}

.senandsins .encapDiv{
  background-color: var(--darkestpuppy);
  scroll-behavior: auto;
  overflow: overlay;
  max-height: 300px;

}

.senandsins .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.senandsins .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid black;
  align-items: stretch;
}

.senandsins .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.senandsins .item-list .item-name {
  margin: 0;
}
.senandsins .item-list .item-controls {
  flex: 0 0 36px;
}
.senandsins .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.senandsins .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.senandsins .attributes {
  position: relative;
}

.senandsins .attributeAdd{

  text-align: center;
  border: none;
}

.senandsins .attributes .attribute-control,
.senandsins .attributes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.senandsins .attributes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.senandsins .attributes .group-prefix {
  height: 31px;
  margin-right: 10px;
}
.senandsins .attributes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.senandsins .attributes .attribute-key {
  border: none;
}
.senandsins .attributes-header {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  background: var(--darkestpuppy);
  text-align: left;
  font-weight: bold;
}

.senandsins .attribute-titel{ 
  margin: 5px 5px 0px 5px;
  border-bottom: 1px solid black;
}

.senandsins .header-attributes{
  display:flex;
}
.senandsins .item-small{
  background: var(--lightestpuppy);

}
.senandsins .item-big{
  background: var(--lightestpuppy);
  border-radius: 5px;

}
.senandsins .span-small{width: 50%;
  width: 15%;
  margin-left: 5px;
}
.senandsins .span-big{
  width: 38%;
  margin-left: 3px;
}

.senandsins .attributes-list {
  list-style: none;
  margin-left: 5px;
  padding: 0;
}
.senandsins .attributes-list li > * {
  margin: 0 3px;
  height: auto;
  line-height: 24px;
  margin-bottom: 5px;
}

.senandsins .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}
.senandsins .attributes-list .attribute-col input {
  font-size: 11px;
  text-align: center;
  line-height: 1;
  height: 50%;
  background: var(--lightestpuppy);
}
.senandsins .attribute input[type="text"]::placeholder,
.senandsins .group-header input[type="text"]::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  background: var(--lightestpuppy);
}
.senandsins .attribute input[type="text"]:focus::placeholder,
.senandsins .group-header input[type="text"]:focus::placeholder {
  opacity: 1;
  background: var(--lightestpuppy);
}

.senandsins .attribute-value{
  background: var(--lightestpuppy);
}

.senandsins .group-controls {
  margin: 5px;
}
.senandsins .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.senandsins .group {
  margin: 5px 0 0;
  padding: 0;
}
.senandsins .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
}
.senandsins .group-key,
.senandsins .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.senandsins .group-key {
  opacity: 0.75;
}
.senandsins .group-label {
  flex: 2;
}
.senandsins .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}
.senandsins .sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.senandsins .sheet.item {
  min-width: 460px;
  min-height: 400px;
}
.sheet nav.sheet-tabs {
  margin: 4px 0;
  border-top: 0px;
  border-bottom: 1px solid black;
}

.senandsins .collapsible {
}

.senandsins .span-collabsible{
  padding: 0 5px;
  display: none;
  overflow: hidden;
}
