

.senandsins {
  --lightest: #fce8ff;
  --middle: #f3d2ff;
  --darkest: #e8adff;
  .puppy{
    --lightest: #fce8ff;
    --middle: #f3d2ff;
    --darkest: #e8adff;
  }
  .kat{
    --lightest: #fce8ff;
    --middle: #f3d2ff;
    --darkest: #e8adff;
  }
  .kitten{
    --lightest: #fce8ff;
    --middle: #f3d2ff;
    --darkest: #e8adff;
  }
  .bunny{
    --lightest: #fce8ff;
    --middle: #f3d2ff;
    --darkest: #e8adff;
  }
}
.senandsins .window-header {
  background: var(--darkest); 
  color: black;
}

.senandsins .window-content {
  background: transparent;
  height: 100%;
  padding: 5px;
  overflow-y: auto;
  pointer-events: none;
}

.senandsins .form {
  height: 100%;
}
.senandsins .sheet-header {
  flex: 0 0 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: -5px;
  margin-left: -5px;
  background: var(--middle);
  padding-left: 5px;
  pointer-events: all;
  width: 100%;
}

.senandsins .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.senandsins .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}

.senandsins .sheet-header h2.charname {
  height: 130px;
  margin: 5px 0;
  border-bottom: 0;
}

.senandsins .sheet-header .charname .charAtrributeInput {
  width: 29%;
  height: 50%;
  font-weight: bold;
  font-size: 30px;
  background: var(--lightest);
}
.senandsins .sheet-header .charname .nameInput{
  width: 40%;
  height: 50%;
  font-weight: bold;
  font-size: 30px;
  background: var(--lightest);
}
.senandsins .resource {
  width: 40%;
  margin-top: 10px;
  float: left;
}

.senandsins .resource .resourceSpan {
  width: 50px;
  height: 25px;
  font-size: 26px;
}

.senandsins .resource .valueInput {
  width: 55px;
  height: 30px;
  font-size: 26px;
  background: var(--lightest);
}


.senandsins .item-resource {    
  width: 50%;
  margin-top: 10px;
  float: left;
  display: flex;
}

.senandsins .item-resource .resourceSpan {
  font-size: medium;
  width: 25%;
  margin-right: 5px;
}

.senandsins .item-resource .valueInput {    
  width: auto;
  height: auto;
  font-size: medium;
  background: var(--lightest);
}
.senandsins .top-div{
  width: 100%;
  height: 310px;
}.senandsins .top-roll-div{
  margin-left: 10px;
  width: 100%;
  display: flex;
}
.senandsins .bio-spacing-flex{
  width: 100%;
  display: flex;
}
.senandsins .bio-spacing-block{
  width: 50%;
  display: block;
}

.senandsins .bio-div{
  width: 100%;
}

.senandsins .bio-div .resourceSpan{
  border-bottom: 1px solid black;
  display: block;
}

.senandsins .half-bio-div{
  width: 95%;
  margin-bottom: 30px;
}

.senandsins .half-bio-div .resourceSpan{
  border-bottom: 1px solid black;
  display: block;
}

.senandsins .character-appearance {        
  width: 45%;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  display: flex;
}
.senandsins .setting-values {
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  display: flex;
}

.senandsins .setting-values  .resourceSpan {
  font-size: small;
  margin-right: 5px;
  width: 50%;
}

.senandsins .setting-values  .valueInput {        
  width: auto;
  height: auto;
  font-size: small;
  background: var(--lightest);
}

.senandsins .character-appearance .resourceSpan {
  font-size: small;
  margin-right: 5px;
  width: 25%;
}

.senandsins .character-appearance .valueInput {        
  width: auto;
  height: auto;
  font-size: small;
  background: var(--lightest);
}

.senandsins .character-trait {        
  width: 45%;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  display: grid;
}

.senandsins .character-trait .resourceSpan {
  font-size: small;
  margin-right: 5px;
}

.senandsins .character-trait .valueInput {    
  width: auto;
  height: auto;
  font-size: small;
  resize: none;
  background: var(--lightest);
}

.senandsins .combatResource {
  width: 25%;
  margin-top: 4px;
  margin-left: -1px;
  float: left;
}


.senandsins .combatResource .resourceValueInput {
  width: 32px;
  height: 15px;
  background: var(--lightest);
}

.senandsins .rollInput{
  margin-top: 10px;
  width: 32px;
  background: var(--lightest);
}

.senandsins .tabs {
  height: 30px;
  flex: 0 0 0px;
  background: var(--darkest);
}

.senandsins .tabs .item {
  font-weight: bold;
  width: 25%;
}

.senandsins .tabs .itemsleft {
  width: 25%;
  font-weight: bold;
  border-left: 1px solid black;
  text-align: center;
  height: 85%;
  line-height: 10px;
}

.senandsins .tabs .itemsright {
  width: 25%;
  font-weight: bold;
  border-right: 1px solid black;
  text-align: center;
  height: 85%;
  line-height: 10px;
}

.senandsins .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.senandsins .tabs .items.active {
  text-decoration: underline;
  text-shadow: none;
}
.senandsins .tabs .itemsleft.active {
  text-decoration: underline;
  text-shadow: none;
}

.senandsins .sheet-body {
  margin-top: 135px;
  background: var(--middle);
  z-index: -1;
  pointer-events: fill;
  margin-left: -5px;
  margin-right: -5px;
  padding-left: 5px;
  padding-right: 5px;
}

.senandsins .sheet-settings-body {
  pointer-events: fill;
  background: var(--middle);
  margin: -5px;
}
.senandsins .settings-body-wrap{  
  padding: 5px;
}
.senandsins .roll-body-wrap{  
  padding: 5px;
  height: 80%;
}

.senandsins .sheet-attribute-body{
  background: var(--middle);
  pointer-events: fill;
}

.senandsins .sheet-body .tab {
  height: 100%;
  margin-top: 5px;
  overflow-y: auto;
}
.senandsins .editor,
.senandsins .editor-content {
  height: 100%;
  min-height: 50px;
}

.senandsins .armorcombat{
  height: 25px;
  margin-left: 10px;
  display: flex;
}

.senandsins .flexstats{
  display: flex;
  width: 100%;
}

.senandsins .stats {
  margin: 5px 0;
  width: 15%;
}

.senandsins .mainattributes{
  width: 85%;
  background-color: var(--darkest);
  border: 1px black solid;
}

.senandsins .attribute-top{
  font-size: medium;
  vertical-align: top;
  margin: 10px 0 0 0;
}

.senandsins .stat-value{
  border: 0px;
  background: var(--lightest);
  text-align: center;
  font-size: medium;
  margin-bottom: 5px;
}

.senandsins .statblock{    
  width: 64px;
  height: 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  pointer-events: all;
  background: var(--lightest);
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 5px;
}

.senandsins .encapDiv{
  background-color: var(--darkest);
  scroll-behavior: auto;
  overflow: overlay;
  max-height: 300px;

}

.senandsins .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.senandsins .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid black;
  align-items: stretch;
}

.senandsins .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.senandsins .item-list .item-name {
  margin: 0;
}
.senandsins .actor-button-layout{
  display: inline-grid;
  float: right;
  margin-right: 10px;
}
.senandsins .settings-control {
  margin-left: -1px;
}
.senandsins .roll-control {    
  margin-top: 10px;
}
.senandsins .item-list .item-controls {
  flex: 0 0 36px;
}
.senandsins .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}
.senandsins .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}
.senandsins .attributes {
  position: relative;
}

.senandsins .attributeAdd{
  text-align: center;
  border: none;
}

.senandsins .attributes .attribute-control,
.senandsins .attributes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.senandsins .attributes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.senandsins .attributes .group-prefix {
  height: 31px;
  margin-right: 10px;
}
.senandsins .attributes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}
.senandsins .attributes .attribute-key {
  border: none;
}
.senandsins .attributes-header {
  display: block;
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  background: var(--darkest);
  text-align: left;
  font-weight: bold;
}

.senandsins .attribute-titel{ 
  margin: 5px 5px 0px 5px;
  border-bottom: 1px solid black;
}

.senandsins .header-attributes{
  display:flex;
}
.senandsins .item-small{
  background: var(--lightest);

}
.senandsins .item-big{
  background: var(--lightest);
  border-radius: 5px;

}
.senandsins .span-small{width: 50%;
  width: 15%;
  margin-left: 5px;
}
.senandsins .span-big{
  width: 38%;
  margin-left: 3px;
}

.senandsins .attributes-list {
  list-style: none;
  margin-left: 5px;
  padding: 0;
}
.senandsins .attributes-list li > * {
  margin: 0 3px;
  height: auto;
  line-height: 24px;
  margin-bottom: 5px;
}

.senandsins .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}
.senandsins .attributes-list .attribute-col input {
  font-size: 11px;
  text-align: center;
  line-height: 1;
  height: 50%;
  background: var(--lightest);
}
.senandsins .attribute input[type="text"]::placeholder,
.senandsins .group-header input[type="text"]::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  background: var(--lightest);
}
.senandsins .attribute input[type="text"]:focus::placeholder,
.senandsins .group-header input[type="text"]:focus::placeholder {
  opacity: 1;
  background: var(--lightest);
}

.senandsins .attribute-value{
  background: var(--lightest);
}

.senandsins .group-controls {
  margin: 5px;
}
.senandsins .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.senandsins .group {
  margin: 5px 0 0;
  padding: 0;
}
.senandsins .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
}
.senandsins .group-key,
.senandsins .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}
.senandsins .group-key {
  opacity: 0.75;
}
.senandsins .group-label {
  flex: 2;
}
.senandsins .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}
.senandsins .sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.senandsins .sheet.item {
  min-width: 460px;
  min-height: 400px;
}

.senandsins nav.sheet-tabs {
  margin: 4px 0;
  border-top: 0px;
  border-bottom: 1px solid black;
  position: absolute;
  margin-top: 105px;
  width: 100%;
  margin-left: -5px;
  background: var(--darkest);
  pointer-events: all;
}

.senandsins .attribute-tabs {
  width: 100%;
  margin-left: -5px;
  background: var(--darkest);
}
.senandsins .collapsible {
}

.senandsins .span-collabsible{
  padding: 0 5px;
  display: none;
  overflow: hidden;
}


.senandsins .sen-button-div{
  display: block;
  margin: auto;
  width: 30%;
}
.senandsins .sen-button-roll-div{
  display: flow;
  margin-left: 13px;
}
.senandsins .sen-button{
  background: var(--darkest);
  
  width: fit-content;
  border-color: black;
  font-weight: bold;
}
.senandsins .roll-button{
    width: 18%;
}

.senandsins .roll-resource{
  min-width: 25%;
  margin-top: 10px;
}
